<form [formGroup]="userFormGroup">
  <div class="row mt-4">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="">Nom <span class="text-danger">*</span></label>
        <input type="text" class="form-control form-control-sm" id="last_name" formControlName="last_name" (input)="triggerEvent()">
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label for="">Prénom(s) <span class="text-danger">*</span></label>
        <input type="text" class="form-control form-control-sm" id="first_name" formControlName="first_name" (input)="triggerEvent()">
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-sm-4">
      <div class="form-group">
        <label for="">E-mail</label>
        <input type="email" class="form-control form-control-sm" id="email" formControlName="email" (input)="triggerEvent()">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="">N° Télephone <span class="text-danger">*</span></label>
        <input type="text" class="form-control form-control-sm" id="phone_number" formControlName="phone_number" (input)="triggerEvent()">
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <label for="">Rôle <span class="text-danger">*</span></label>
        <select class="form-control form-control-sm" id="fk_role_id" formControlName="fk_role_id" (change)="triggerEvent()">
          <option selected disabled>Sélectionner ici</option>
          <option *ngFor="let role of roles" [value]="role.role_id">{{ role.role_name }}</option>
        </select>
      </div>
    </div>
  </div>
</form>