<app-content-header [breadCrumbs]="breadCrumbs" [title]="title"></app-content-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        INFO BOX
      </div>
    </div>
    <div class="row mb-1">
      <div class="col-2">
        <button class="btn btn-block btn-outline-primary btn-sm" (click)="openModal(uniqueId)">
          <i class="fas fa-plus"></i> Ajouter stock d'article
        </button>
      </div>
    </div>
    <div class="card">
      <div class="card-body table-responsive p-0">
        <app-table [id]="tableId"></app-table>
      </div>
      <div class="bg-white card-footer" *ngIf="currentPage > 0">
        
      </div>
    </div>
  </div>
</section>
<app-modal [id]="uniqueId">
  <div head>
    <h4 class="modal-title">
      Ajouter un stock d'article
    </h4>
  </div>
  <div body>
    <form [formGroup]="stockFormGroup">
      <div class="row">
        <div class="col-8 form-group">
          <label for="item">Article *</label>
          <input
            type="text" 
            id="item" 
            class="form-control form-control-sm"
            name="item" 
            formControlName="item" 
            [matAutocomplete]="auto"
            (input)="getProductValueChange()"
          >
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedValue($event)">
            <mat-option *ngFor="let product of searchProducts" [value]="product.label" style="text-transform: capitalize">
              {{product.label}}
            </mat-option>
          </mat-autocomplete>
        </div>
        <div class="col-4 form-group">
          <label for="quantity">Quantité *</label>
          <input
            type="number" 
            id="quantity" 
            class="form-control form-control-sm"
            name="quantity" 
            formControlName="quantity"
            (input)="getQuantityValueChange()"
          >
        </div>
      </div>
      <ng-container formArrayName="detail">
        <div class="mb-2" *ngFor="let attribute of detailField.controls; let i = index;" [formGroupName]="i">
          <div class="card p-1">
            <!-- <button *ngIf="detailField.length > 1" type="button" class="close" style="text-align: right; font-size:15px;" (click)="removeDetailField(i)">
              <span aria-hidden="true">
                <i class="fa fa-trash-alt"></i>
              </span>
            </button> -->
            <fieldset>
              <legend class="attribute">Attribut(s)</legend>
            </fieldset>
            <fieldset>
              <legend class="serialization">Sérialisation(s)</legend>
            </fieldset>
          </div>
        </div>
      </ng-container>
    </form>
  </div>
  <button save class="btn btn-sm btn-outline-primary ml-1 mr-1">Ajouter</button>
</app-modal>