<!-- <button class="btn btn-sm btn-outline-secondary" style="display: flex;
justify-content: center;
align-content: center;">
  <mat-icon class="text-success">check</mat-icon>
  <span>PlayStation 5</span>
</button> -->

<div class="position-relative product" style="height:120px; width:250px">
  <div>
    <span class="category">{{ product.category.label }}</span>
    <p class="product-title">
      {{ product.label }} 
      <span class="product-code">({{ product.code }})</span>
    </p>
    <div class="detail">
      <div>
        {{ product.ttc_price | number:'1.0':'fr' }} 
        <span class="currency">AR</span>
      </div>
      
      <div class="add-to-cart" *ngIf="getStockStatus()">
        <button class="btn btn-add-to-cart btn-xs" (click)="addProduct(product)"><i class="fa fa-shopping-basket"></i> Ajouter</button>
        <button class="btn btn-remove-to-cart btn-xs" (click)="removeProduct(product)"><i class="fas fa-trash-alt"></i> Supprimer</button>
      </div>
    </div>
  </div>
  <div class="my-ribbon-wrapper">
    <div class="my-ribbon" [ngClass]="getStockStatus() ? 'bg-success' : 'bg-danger'">
      {{ getStockText() }}
    </div>
  </div>
</div >