<app-content-header [breadCrumbs]="breadCrumbs" [title]="title"></app-content-header>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <app-info-box [data]="infoBoxProductCount"></app-info-box>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <button class="col-2 btn btn-block btn-outline-primary btn-sm" (click)="openModal(uniqueIdProduct)">
            <i class="fas fa-plus"></i> Ajouter article(s)
          </button>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-bod table-responsive p-0">
        <app-table [id]="tableId"></app-table>
      </div>
      <div class="bg-white card-footer" *ngIf="totalPages > 0">
        <ul class="pagination pagination-sm m-0 float-right">
          <li class="page-item" *ngIf="lastPage > 0">
            <a class="page-link" [routerLink]="['/catalog/product']" [queryParams]="{page: lastPage}">&laquo;</a>
          </li>
          <li class="page-item" *ngIf="lastPage > 0">
            <a class="page-link" [routerLink]="['/catalog/product']" [queryParams]="{page: lastPage}">{{ lastPage }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" [routerLink]="['/catalog/product']" [queryParams]="{page: currentPage}">{{ currentPage }}</a>
          </li>
          <li class="page-item" *ngIf="nextPage == currentPage + 1">
            <a class="page-link" [routerLink]="['/catalog/product']" [queryParams]="{page: nextPage}">{{ nextPage }}</a>
          </li>
          <li class="page-item" *ngIf="nextPage == currentPage + 1">
            <a class="page-link" [routerLink]="['/catalog/product']" [queryParams]="{page: nextPage}">&raquo;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<app-modal [id]="uniqueIdProduct">
  <div head>
    <h4 class="modal-title">
      Ajout d'articles
    </h4>
  </div>
  <div body>
    <form [formGroup]="productFormGroup">
      <ng-container formArrayName="product">
        <div class="mb-3" style="border-bottom: 1px solid #ced4da;" *ngFor="let product of productForm.controls; let i = index;" [formGroupName]="i">
          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <input type="text" 
                  id="code" 
                  class="form-control form-control-sm" 
                  name="code" 
                  formControlName="code" 
                  [ngClass]="{'input-error':
                   (product.get('code')?.invalid &&
                    product.get('code')?.hasError('required') &&
                    product.get('code')?.touched) || formError
                  }"
                  placeholder="Code Article *"
                >
              </div>
            </div>
            <div class="col-5">
              <div class="form-group">
                <input 
                type="text" 
                id="label" 
                class="form-control form-control-sm" 
                name="label" 
                formControlName="label" 
                [ngClass]="{'input-error':
                  (product.get('label')?.invalid &&
                  product.get('label')?.hasError('required') &&
                  product.get('label')?.touched) || formError
                }"
                placeholder="Libellé Article *"
              >
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <input
                  type="text" 
                  id="category" 
                  class="form-control form-control-sm" 
                  name="category"
                  formControlName="category" 
                  [ngClass]="{'input-error':
                    (product.get('category')?.invalid &&
                    product.get('category')?.hasError('required') &&
                    product.get('category')?.touched) || formError
                  }" 
                  [matAutocomplete]="auto"
                  placeholder="Catégorie d'article"
                  (input)="getCategoriesValueChange(i)"
                >
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let category of searchCategories" [value]="category.label" style="text-transform: capitalize">
                    {{category.label}}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <div class="form-group">
                <input 
                  type="number" 
                  id="ttcPrice" 
                  class="form-control form-control-sm" 
                  name="ttcPrice" 
                  formControlName="ttcPrice" 
                  [ngClass]="{'input-error':
                    (product.get('ttcPrice')?.invalid &&
                    product.get('ttcPrice')?.hasError('required') &&
                    product.get('ttcPrice')?.touched) || formError
                  }"
                  placeholder="Prix TTC *"
                >
              </div>
            </div>
            <div class="col-8">
              <div class="form-group">
                <div class="form-check" style="margin-top: 5px">
                  <input class="form-check-input" type="checkbox" id="isSerializable" name="isSerializable"
                    formControlName="isSerializable">
                  <label for="isSerializable" class="form-check-labe">Sérialisable</label>
                </div>
              </div>
            </div>
            <div class="col-1" *ngIf="i > 0">
              <button class="btn btn-sm btn-default" (click)="removeLabel(i)"><i class="fas fa-trash-alt"></i></button>
            </div>
          </div>
        </div>
      </ng-container>
    </form>
    <button *ngIf="productForm.controls.length < 5" class="btn btn-sm btn-outline-secondary" (click)="addFormField()">Ajouter ligne</button>
  </div>
  <button save class="btn btn-sm btn-outline-primary ml-1 mr-1" (click)="createItems()">Enregistrer</button>
</app-modal>

<app-modal [id]="modalConfirmationID" [singleButton]="true">
  <div head>
    <h4 class="modal-title">
      Ajout d'article(s)
    </h4>
  </div>
  <div body>
    <ul>
      <li><i class="fas fa-check-circle text-success"></i> Article(s) créé(s) : {{ created }}</li>
      <li>
        <i class="fas fa-exclamation-triangle text-danger"></i> Erreur(s) : {{ error }}
        <ul *ngIf="errorValues.length > 0" class="">
          <li *ngFor="let err of errorValues">
            Ligne d'erreur : {{ err['line'] }} - Libellé: {{ err['product'] }}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <button save class="btn btn-sm btn-outline-danger ml-1 mr-1" (click)="closeConfirmModal()">Fermer</button>
</app-modal>