<app-content-header [breadCrumbs]="breadCrumbs" [title]="title"></app-content-header>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <app-info-box [data]="infoBoxProductCount"></app-info-box>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <app-import class="col-2" [config]="importProduct" [id]="uniqueIdProduct"></app-import>
          <app-export class="col-2" [config]="exportProduct" [id]="uniqueIdProduct"></app-export>
        </div>
      </div>
      <div class="card-bod table-responsive p-0">
        <app-table [id]="tableId"></app-table>
      </div>
      <div class="bg-white card-footer">
        <ul class="pagination pagination-sm m-0 float-right">
          <li class="page-item" *ngIf="lastPage > 0">
            <a class="page-link" [routerLink]="['/catalog/product']" [queryParams]="{page: lastPage}">&laquo;</a>
          </li>
          <li class="page-item" *ngIf="lastPage > 0">
            <a class="page-link" [routerLink]="['/catalog/product']" [queryParams]="{page: lastPage}">{{ lastPage }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" [routerLink]="['/catalog/product']" [queryParams]="{page: currentPage}"
              routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ currentPage }}</a>
          </li>
          <li class="page-item" *ngIf="nextPage == currentPage + 1">
            <a class="page-link" [routerLink]="['/catalog/product']" [queryParams]="{page: nextPage}">{{ nextPage }}</a>
          </li>
          <li class="page-item" *ngIf="nextPage == currentPage + 1">
            <a class="page-link" [routerLink]="['/catalog/product']" [queryParams]="{page: nextPage}">&raquo;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>