<app-content-header [breadCrumbs]="breadCrumbs" [title]="title"></app-content-header>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <mat-stepper linear #stepper>
          <mat-step label="Information de l'utilisateur" state="person">
            <app-info-form></app-info-form>
            <div>
              <button 
                class="btn btn-sm btn-primary"
                [class.btn-disabled] = "!isValidUserInfo"
                mat-button 
                (click)="createUser()"
              >
                Creer
              </button>
            </div>
          </mat-step>
          <mat-step label="Shop de rattachement" state="location">
            <app-shop-form></app-shop-form>
            <div>
              <button 
                class="btn btn-sm btn-primary" 
                [class.btn-disabled] = "!isValidUserShop" 
                mat-button 
                (click)="addUserShop()"
              >
                Enregistrer
              </button>
            </div>
          </mat-step>
          <ng-template matStepperIcon="person">
            <mat-icon>person</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="location">
            <mat-icon>location_on</mat-icon>
          </ng-template>
        </mat-stepper>
      </div>
    </div>
  </div>
</section>