<div class="image-content" *ngIf="image != null">
  <img *ngIf="image.hasImage else noImage" class="product-image img-fluid" [src]="imageUrl(image.path)"/>
  <ng-template #noImage>
    <img class="product-image img-fluid" src="assets/images/images.png" alt="User profile picture" />
  </ng-template>
  <div class="item-align-vertical">
    <div class="block-bottom-img-info" *ngIf="image.hasImage">
      <button class="btn btn-sm btn-danger" (click)="deleteImage(image.id)">Retirer l'image</button>
    </div>
    <form class="block-middle-img-info mt-2">
      <span class="btn btn-sm btn-primary btn-file">
        {{ imageButtonText(image.hasImage) }} 
        <input type="file" accept=".jpeg, .jpg, .png" (change)="onFileChange($event, image.id)">
      </span>
    </form>
  </div>
</div>
