<app-content-header [breadCrumbs]="breadCrumbs" [title]="title"></app-content-header>

<section class="content" *ngIf="product">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="card card-outline custom-card"
        style="text-align: center; min-height: 100%;">
          <div class="card-body box-profile">
            <img class="product-image img-fluid img-circle" src="assets/images/images.png" alt="User profile picture">
            <div class="mt-5">
              <button class="btn btn-sm btn-outline-danger btn-block">Supprimer image</button>
              <button class="btn btn-sm btn-outline-primary btn-block">Modifier image</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-9">
        <app-product-information [information]="product" (newInformationEvent)="getProductNewValue($event)"></app-product-information>
        <app-product-price [information]="product" (priceEvent)="editPrice($event)"></app-product-price>
      </div>
    </div>
  </div>
</section>