<div *ngIf="config?.visible" class="custom-modal">
  <div 
    class="custom-modal-dialog" 
    [ngClass]="{
      'small': 'custom-modal-sm',
      'medium': 'custom-modal-md',
      'large': 'custom-modal-lg',
      'x-large': 'custom-modal-xl'
    }[size]"
  >
    <div class="modal-content" style="max-height: 600px;">
      <div class="modal-header text-center">
        <ng-content select="[head]"></ng-content>
      </div>
      <div class="modal-body"  style="height:100%; overflow-y: auto">
        <ng-content select="[body]"></ng-content>
      </div>
      <div class="modal-footer justify-content-center">
        <button *ngIf="!singleButton" class="btn btn-sm btn-default ml-1 mr-1" (click)="closeModal()">Annuler</button>
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </div>
</div>
