<table class="table">
  <thead>
  <tr>
    <th *ngFor="let header of tables?.header" [attr.collspan]="header?.collspan">
      {{header.value}}
    </th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let body of tables?.body?.cellValue; let i = index">
    <tr *ngIf="!body.isExpandable else expandable">
      <td *ngFor="let row of body.rowValue">
        <img *ngIf="row?.image" [src]="row?.image">
        {{ row?.value }}
      </td>
      <td *ngIf="haveAction" class="row">
        <div class="col-2">
          <i *ngIf="this.tables.body?.isEditable" class="fas fa-edit text-secondary"></i>
        </div>
        <div class="col-2">
          <i *ngIf="this.tables.body?.isDeleteable" class="far fa-trash-alt text-secondar2"></i>
        </div>
        <div class="custom-control custom-switch custom-switch-on-success col-2">
          <input type="checkbox" class="custom-control-input" id="customSwitch{{i}}">
          <label class="custom-control-label" for="customSwitch{{i}}"></label>
        </div>
      </td>
    </tr>
  </ng-container>
  <ng-template #expandable>
    <tr>

    </tr>
  </ng-template>
  </tbody>
</table>
