.icon-color-upload {
  color: #144B72;
}

.icon-color-download {
  color: #e61115;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: 400
}

label {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0!important;

  &:hover {
    cursor: pointer;
  }
}