.widget-user-username {
  max-width: 300px !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  font-size: 20px!important;
}

.description-text {
  text-transform: capitalize !important;
}