<app-content-header [breadCrumbs]="breadCrumbs" [title]="title"></app-content-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <button class="btn btn-default btn-sm btn-block" [ngClass]="{'custom-btn-active': currentMenu == menuInfo}"
          (click)="selectMenu(menuInfo)">
          Information utilisateur
        </button>
        <button class="btn btn-default btn-sm btn-block"
          [ngClass]="{'custom-btn-active': currentMenu == menuProfil}" (click)="selectMenu(menuProfil)">
          Profil utilisateur
        </button>
        <button class="btn btn-default btn-sm btn-block"
          [ngClass]="{'custom-btn-active': currentMenu == menuShopRattached}" (click)="selectMenu(menuShopRattached)">
          Shop de rattachement
        </button>
      </div>
      <div class="col-10">
        <div class="card" *ngIf="currentMenu == menuInfo">
          <div class="card-body">
            <h5 class="mb-4">
              Information utilisateur
              <br><small class="badge custom-badge-warning"><i class="fas fa-exclamation"> Cliquer sur le bouton
                  modifier pour effectuer la modification des informations</i></small>
            </h5>
            <form [formGroup]="userFormGroup">
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="">Nom <span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-sm" id="last_name" formControlName="last_name"
                      [readonly]="!isEditable">
                  </div>
                </div>
                <div class="col-4">
                  <label for="">Prénom(s) <span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-sm" id="first_name" formControlName="first_name"
                    [readonly]="!isEditable">
                </div>
                <div class="col-4">
                  <label for="">Email</label>
                  <input type="text" class="form-control form-control-sm" id="email" formControlName="email"
                    [readonly]="!isEditable">
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label for="">N° Télephone <span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-sm" id="phone_number"
                      formControlName="phone_number" [readonly]="!isEditable">
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="">Rôle <span class="text-danger">*</span></label>
                    <select class="form-control form-control-sm" id="fk_role_id" formControlName="fk_role_id" (change)="triggerEvent()" [attr.disabled]="!isEditable ? '' : null">
                      <option selected disabled>Sélectionner ici</option>
                      <option *ngFor="let role of roles" [value]="role.role_id">{{ role.role_name }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
            <div class="float-left">
              <button class="btn btn-sm btn-outline-primary" [ngClass]="{'btn-disabled': !isEditable}">
                Réinitialiser mots de passe
              </button>
            </div>
          </div>
          <div class="card-footer">
            <div class="float-right" *ngIf="isEditable else disabledEdit">
              <button class="btn btn-sm btn-outline-danger mr-1" (click)="cancelEdit()">Annuler</button>
              <button class="btn btn-sm btn-outline-primary ml-1" (click)="saveEdit()">Enregistrer</button>
            </div>
            <ng-template #disabledEdit>
              <div class="float-right">
                <button class="btn btn-sm btn-default ml-1" (click)="enableEdit()">Modifier</button>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="card" *ngIf="currentMenu == menuProfil">
          <app-profil [role]="selectedRole"></app-profil>
        </div>
        <div class="card" *ngIf="currentMenu == menuShopRattached">
          <app-shop-form-edit [user]="user" [userRole]="selectedRole"></app-shop-form-edit>
        </div>
      </div>
    </div>
  </div>
</section>