.custom-badge-warning {
  color: #1f2d3d;
  background-color: #f8da7f;
}

ul {
  width: 100%!important;
  max-width: 100%!important;
  margin: 0 20px;
}

li {
  list-style: disc;
}
.no-parent {
  font-weight: 900;
}