<div class="box">
  <div class="overlay dark" *ngIf="loading$ | async">
    <i class="fas fa-4x fa-sync-alt spin"></i>
  </div>  
  <div class="notification" *ngIf="notifications.length > 0">
    <app-notification *ngFor="let notifiction of notifications" [type]="notifiction.type" [message]="notifiction.message"></app-notification>
  </div>
  <div class="hold-transition bg login-page">
    <div class="login-box">
      <div class="card card-outline">
        <div class="card-header text-center">
          <p class="h1">
            <b class="text-primary">Planet</b>
            <span class="text-danger">Game</span>
          </p>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm">
            <div class="input-group mb-3">
              <input type="email" 
                class="form-control" 
                [ngClass]="{
                  'input-error': 
                    (
                      loginForm.get('touched')?.touched || !loginForm.get('email')?.valid
                    ) 
                    && loginForm.get('email')?.hasError('required')
                    && hasError
                }"
                id="emailOrPhoneNumber"
                name="emailOrPhoneNumber" 
                formControlName="emailOrPhoneNumber"
                placeholder="Email ou numéro tel."
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input 
                type="password" 
                class="form-control"
                [ngClass]="{
                  'input-error': 
                    (
                      loginForm.get('touched')?.touched || !loginForm.get('password')?.valid
                    ) 
                    && loginForm.get('password')?.hasError('required')
                    && hasError
                }"
                id="password"
                name="password" 
                formControlName="password"
                placeholder="Mots de passe"
              >
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
              </div>
              <div class="col-6">
                <button type="submit" class="btn btn-outline-primary btn-block" (click)="login()">Se connecter</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>