<table class="table text-nowrap" *ngIf="table">
  <thead *ngIf="table.header && table.header.length > 0">
    <tr>
      <th 
        *ngFor="let header of table.header" 
        [attr.colspan]="header?.colspan" 
        [attr.rowspan]="header?.rowspan"
        [ngClass]="{
          'text-center': header.style.align=='align-center',
          'text-left': header.style.align=='align-left',
          'text-right': header.style.align=='align-right'
        }"
      >
        {{ header.value }}
      </th>
      <th class="text-center" *ngIf="table.action.delete || table.action.edit"> action(s) </th>
    </tr>
  </thead>
  <tbody *ngIf="table.body && table.body.line.length > 0">
    <ng-container *ngFor="let _line of table.body.line; let i = index;">
      <tr [class.expanded]="_line.lineId == expandedId">
        <td 
          *ngFor="let _column of _line.column; let j = index;"
        >
          <div 
            class="column-container"
            [ngClass]="{
              'flex-direction-column': _column.style.flex=='column',
              'flex-direction-row': _column.style.flex=='row',
              'content-center': _column.style.align=='align-center',
              'content-left': _column.style.align=='align-left',
              'content-right': _column.style.align=='align-right'
            }"
          >
            <div *ngFor="let _content of _column.content; let k = index;" class="mr-1">
              <ng-container *ngIf="_content.type == 'simple'">
                <ng-container *ngIf="_content.expandable">
                  <i 
                    class="pointer fas fa-{{expandedId ===  _line.lineId ? 'chevron-down' : 'chevron-right'}} fa-1x mt-1 pr-2"
                    (click)="setExpendLineId(_line.lineId)"
                  >
                  </i>
                </ng-container>
                {{ _content.value }}
              </ng-container>
              <ng-container *ngIf="_content.type == 'icon'">
                <app-tooltip [text]="_content.tooltip.text || ''">
                  <i class="pointer {{ _content.icon }} {{ _content.bg }}" style="font-size:18px" content></i>
                </app-tooltip>
              </ng-container>
              <ng-container *ngIf="_content.type == 'badge'">
                <span class="badge {{ _content.badge.bg }}">
                  {{ _content.badge.value }}
                </span>
              </ng-container>
              <ng-container *ngIf="_content.type == 'input'">
                <app-input-number 
                  *ngIf="_content.input == 'number'"
                  [id]="getColumnId(i, j, k)"
                  [line]="_line.lineId"
                  [value]="_content.value"
                  (formValue)="getInputValue($event)"
                >
                </app-input-number>
              </ng-container>
              <ng-container *ngIf="_content.type == 'button'">
                <button class="btn btn-sm btn-outline-secondary" (click)="_content.function()">
                  <i 
                    *ngIf="_content.icon" [class]="_content.icon.icon"
                    [attr.data-tooltip]="_content.icon.tooltip.text"
                    [attr.data-flow]="_content.icon.tooltip.flow"
                  >
                  </i>
                  <span> {{ _content.value }} </span>
                </button>
              </ng-container>
            </div>
          </div>
        </td>
        <td 
          *ngIf="table.action.delete || table.action.edit"
          class="table-action"
        >
          <button *ngIf="table.action.edit" class="btn btn-sm btn-outline-secondary" (click)="getAction(_line.lineId, 'edit')">
            <app-tooltip text="Modifier">
              <i class="pointer fas fa-edit text" style="font-size:18px" content></i>
            </app-tooltip>
          </button>
          <button *ngIf="table.action.delete" class="btn btn-sm btn-outline-secondary" (click)="getAction(_line.lineId, 'delete'); ; removeLine(i)">
            <app-tooltip text="Supprimer">
              <i class="pointer far fa-trash-alt text" style="font-size:18px" content></i>
            </app-tooltip>
          </button>
        </td>
      </tr>
      <ng-container *ngIf="expandedId == _line.lineId">
        <tr *ngFor="let expandedLine of expandedLines; let i = index">
          <td *ngFor="let _column of expandedLine.column; let j = index">
            <div 
              class="column-container"
              [ngClass]="{
                'flex-direction-column': _column.style.flex=='column',
                'flex-direction-row': _column.style.flex=='row',
                'content-center': _column.style.align=='align-center',
                'content-left': _column.style.align=='align-left',
                'content-right': _column.style.align=='align-right'
              }"
            >
              <div *ngFor="let _content of _column.content; let k = index;" class="mr-1">
                <ng-container *ngIf="_content.type == 'simple'">
                  {{ _content.value }}
                </ng-container>
                              <ng-container *ngIf="_content.type == 'button'">
                <button class="btn btn-sm btn-outline-secondary" (click)="_content.function()">
                  <i 
                    *ngIf="_content.icon" [class]="_content.icon.icon"
                    [attr.data-tooltip]="_content.icon.tooltip.text"
                    [attr.data-flow]="_content.icon.tooltip.flow"
                  >
                  </i>
                  <span> {{ _content.value }} </span>
                </button>
              </ng-container>
              </div>
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>