<div head>
  <h4 class="modal-title">
    ERREUR DE FICHIER
  </h4>
</div>
<div body>
  L'import du fichier n'a pas pu être prise en charge, nous vous invitons à vérifier les points suivants :
  <ul>
    <li>
      <span>FORMAT DU FICHIER :</span>
      .XLSX ou XLS
    </li>
    <li>
      <span>ENCODAGE FICHIER :</span>
      UTF-8
    </li>
    <li>
      <span>TAILLE FICHIER :</span>
      Inférieur à 10Mo
    </li>
  </ul>
</div>
<button footer class="btn btn-sm btn-outline-primary ml-1 mr-1" (click)="closeModal('reponse')">Fermer</button>