<app-content-header [breadCrumbs]="breadCrumbs" [title]="title"></app-content-header>
<section class="content">
  <div class="container-fluid">
    <!--<div class="row">
      <div class="col-sm-12 col-lg-4">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Que voulez-vous faire ?</h3>
          </div>
          <div class="card-body container p-2">
            <div class="item">
              <app-button id="sale" [disabled]="!shopIsOpen && singleShop" [button]="buttonMakeSale"></app-button>
            </div>
            <div class="item" *ngIf="singleShop">
              <app-button id="open" [button]="buttonOpenShop"></app-button>
            </div>
          </div>
        </div>
      </div>
    </div>-->
    <div class="card">
      <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
        <h3 class="card-title">
          <i class="fas fa-chart-line mr-1"></i>
          Récapitulatif des ventes
        </h3>
        <div class="card-tools">
          <button type="button" class="btn bg-default btn-sm" data-card-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <form class="row" [formGroup]="saleChartForm">
          <div class="col-sm-2">
            <div class="form-group">
              <div class="row">
                <div class="form-group row">
                  <label for="startDate" class="col-sm-3 col-form-label">Du: </label>
                  <div class="col-sm-9">
                    <input type="date" class="form-control form-control-sm" id="startDate" formControlName="startDate" (input)="triggerSaleChartForm()">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="endDate" class="col-sm-3 col-form-label">Au: </label>
                  <div class="col-sm-9">
                    <input type="date" class="form-control form-control-sm" id="endDate" formControlName="endDate" (input)="triggerSaleChartForm()">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label>Shop :</label>
              <select class="form-control form-control-sm" id="shop" formControlName="shop" (change)="triggerSaleChartForm()">
                <option value="">Selectionner ici</option>
                <option *ngFor="let shop of shops" [value]="shop.shop_uuid">{{ getShopName(shop.shop_location, shop.shop_box) }}</option>
              </select>
            </div>
          </div>
        </form>
        <div>
          <ngx-charts-line-chart
            [legend]="chartLegend"
            [legendTitle]="legendTitle"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxis]="xAxis"
            [yAxis]="yAxis"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [timeline]="timeline"
            [results]="chartData"
            [yAxisTickFormatting]="yAxisTickFormatting"
          >
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-6 col-md-8">
        <div class="card">
          <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
            <h3 class="card-title">
              <i class="fas fa-chart-bar mr-1"></i>
              Compartif des ventes
            </h3>
          </div>
          <div class="card-body">
            <form [formGroup]="barChartForm">
              <div class="form-group row">
                <label for="" class="col-sm-1 col-form-label">Par :</label>
                <div class="col-sm-2">
                  <select class="form-control" id="perBy" formControlName="perBy" (change)="triggerBarChartForm()">
                    <option value="" selected>Jour</option>
                    <option value="month">Mois</option>
                    <option value="year">Année</option>
                  </select>
                </div>
              </div>
            </form>
            <div>
              <ngx-charts-bar-vertical-2d
                [results]="barChartData"
                [xAxis]="xAxis"
                [yAxis]="yAxis"
                [legend]="true"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="'Shop'"
                [yAxisLabel]="'Ventes'"
                [legendTitle]="legendTitle"
              >
              </ngx-charts-bar-vertical-2d>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-modal [id]="openShopId" size="small">
  <div head>
    <h4>Séléctionner shop</h4>
  </div>
  <div body>
    <app-open-shop (formValue)="getSelectedShop($event)"></app-open-shop>
  </div>
  <button footer class="btn btn-sm btn-outline-primary ml-1 mr-1" (click)="openShop()">Ouvrir</button>
</app-modal>