<div class="wrapper-custom">
  <div class="title">
    <p>{{ shopName }}</p>
  </div>
  <div class="container-custom">
    <div class="item col-9 pt-1">
      <div class="btn-group btn-group-toggle w-100 tabs">
        <button class="btn btn-sm btn-outline-primary focus active">Aticles</button>
        <button class="btn btn-sm btn-outline-danger">Clients</button>
      </div>
      <div class="mt-2 search-bar">
        <app-sale-search></app-sale-search>
      </div>
      <div class="mt-2 row catalog-body">
        <div class="col-2" style="border-right: 1px solid #e0e0e0; height:87%">
          <app-category></app-category>
        </div>
        <div class="col-10" style="height:100%">
          <app-catalog></app-catalog>
        </div>
      </div>
    </div>
    <div class="item col-3 pt-1">
      <button>retirer</button>
      <app-cart></app-cart>
    </div>
  </div>
</div>
