<div class="wrapper-custom">
  <div class="title">
    <p>BOX 119</p>
  </div>
  <div class="container-custom">
    <div class="item col-9 pt-1">
      <div class="btn-group btn-group-toggle w-100">
        <button class="btn btn-sm btn-outline-primary focus active">Sélectionner des aticles</button>
        <button class="btn btn-sm btn-outline-danger">Choisir un client</button>
      </div>
      <div class="mt-2">
      <app-sale-search></app-sale-search>
        <app-catalog></app-catalog>
      </div>
    </div>
    <div class="item col-3 pt-1">
      <app-cart></app-cart>
    </div>
  </div>
</div>