<div class="wrapper-custom">
  <div class="title">
    <p>{{ shopName }}</p>
  </div>
  <div class="container-custom">
    <div class="item col-9 pt-1">
      <div class="btn-group btn-group-toggle w-100 tabs">
        <button class="btn btn-sm btn-outline-primary focus active">Aticles</button>
        <button class="btn btn-sm btn-outline-danger">Clients</button>
      </div>
      <div class="mt-2 search-bar">
        <app-sale-search></app-sale-search>
      </div>
      <div class="mt-2 row catalog-body">
        <div class="col-2" style="border-right: 1px solid #e0e0e0; height:87%">
          <app-category></app-category>
        </div>
        <div class="col-10" style="height:100%">
          <div style="height: 95%;">
            <app-catalog></app-catalog>
          </div>
          <div class="bg-white"*ngIf="currentPage > 0 && totalItems > 0 ">
            <ul class="pagination pagination-sm m-0" style="justify-content: center;">
              <li class="page-item" *ngIf="lastPage > 0">
                <span class="page-link pointer" (click)="goToNextPage(lastPage)">&laquo;</span>
              </li>
              <li class="page-item" *ngIf="lastPage > 0">
                <span class="page-link pointer" (click)="goToNextPage(lastPage)">{{ lastPage
                  }}</span>
              </li>
              <li class="page-item">
                <a class="page-link pointer bg-primary">{{ currentPage }}</a>
              </li>
              <li class="page-item" *ngIf="nextPage == currentPage + 1">
                <span class="page-link pointer" (click)="goToNextPage(nextPage)">{{ nextPage
                  }}</span>
              </li>
              <li class="page-item" *ngIf="nextPage == currentPage + 1">
                <span class="page-link pointer" (click)="goToNextPage(nextPage)">&raquo;</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="item col-3 pt-1">
      <button>retirer</button>
      <app-cart></app-cart>
    </div>
  </div>
</div>
