<div class="card">
  <div class="card-body">
    <form [formGroup]="filterFormGroup" class="mb-0 ">
      <div class="row" formArrayName="fields">
        <div style="margin-bottom: O!important" class="col-3 row" *ngFor="let field of fieldGroup.controls; let i = index" [formGroupName]="i">
          <label col-sm-3 col-form-label>{{ field.value.label }} : </label>
          <ng-container [ngSwitch]="field.value.type">
            <div *ngSwitchCase="'input'" class="col-sm-7">
              <input 
                type="text" 
                class="form-control form-control-sm" 
                [name]="'fieldValue'" 
                [formControlName]="'fieldValue'" 
                [placeholder]="field.value.placeholder"
                (input)="triggerValueChange()"
              >
            </div>
            <div *ngSwitchCase="'select'" class="col-sm-7">
              <select  class="form-control form-control-sm" [name]="'fieldValue'" [formControlName]="'fieldValue'" (change)="triggerValueChange()">
                <option *ngFor="let value of selectValue[i]" [value]="value.value">{{ value.label }}</option>
              </select>
            </div>
            <div *ngSwitchCase="'autoComplete'" class="col-sm-7">
              <input
                type="text" 
                id="item" 
                class="form-control form-control-sm"
                name="fieldValue" 
                formControlName="field" 
                [matAutocomplete]="auto"
                (input)="triggerValueChange(); filterSelectValue(i)"
              >
              <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selectedValue($event, i)">
                <mat-option *ngFor="let value of selectValue[i]" [value]="value" style="text-transform: capitalize">
                  {{value.label}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </ng-container>
        </div>
      </div>
    </form>
  </div>
</div>
