<app-content-header [breadCrumbs]="breadCrumbs" [title]="title"></app-content-header>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <app-info-box [data]="infoBoxCategoryCount"></app-info-box>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="row">
          <button class="col-2 btn btn-block btn-outline-primary btn-sm" (click)="openModal()">
            Ajouter catégorie
          </button>
          <app-import class="col-2" [config]="importConfig" [id]="uniqueId"></app-import>
          <app-export class="col-2" [config]="exportConfig" [id]="uniqueId"></app-export>
        </div>
      </div>
      <div class="card-body table-responsive p-0">
        <app-table [id]="tableId"></app-table>
      </div>
      <div class="bg-white card-footer">
        <ul class="pagination pagination-sm m-0 float-right">
          <li class="page-item" *ngIf="lastPage > 0">
            <a class="page-link" [routerLink]="['/catalog/category']" [queryParams]="{page: lastPage}">&laquo;</a>
          </li>
          <li class="page-item" *ngIf="lastPage > 0">
            <a class="page-link" [routerLink]="['/catalog/category']" [queryParams]="{page: lastPage}">{{ lastPage
              }}</a>
          </li>
          <li class="page-item">
            <a class="page-link" [routerLink]="['/catalog/category']" [queryParams]="{page: currentPage}"
              routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{ currentPage }}</a>
          </li>
          <li class="page-item" *ngIf="nextPage == currentPage + 1">
            <a class="page-link" [routerLink]="['/catalog/category']" [queryParams]="{page: nextPage}">{{ nextPage
              }}</a>
          </li>
          <li class="page-item" *ngIf="nextPage == currentPage + 1">
            <a class="page-link" [routerLink]="['/catalog/category']" [queryParams]="{page: nextPage}">&raquo;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<app-modal [id]="uniqueId">
  <div head>
    <h4 class="modal-title">
      Création d'une catégorie d'articles
    </h4>
  </div>
  <div body>
    <form [formGroup]="categoryFormGroup">
      <ng-container formArrayName="category">
        <div class="row" *ngFor="let category of categoryForm.controls; let i = index;" [formGroupName]="i">
          <div class="col-4">
            <div class="form-group">
              <label>Code</label>
              <input type="text" class="form-control" formControlName="code">
            </div>
          </div>
          <div class="col-7">
            <div class="form-group">
              <label>Libéllé</label>
              <input type="text" class="form-control" [ngClass]="{'input-error': categoryForm.hasError('required') }"
                formControlName="label">
            </div>
          </div>
          <div class="col-1" *ngIf="i > 0">
            <label style="visibility: hidden">x</label>
            <button class="btn btn-default" (click)="removeLabel(i)"><i class="fas fa-times text-danger"></i></button>
          </div>
        </div>
      </ng-container>
    </form>
    <button class="btn btn-default float-right" (click)="addLabel()">Ajouter</button>
  </div>
  <button save class="btn btn-default ml-1 mr-1" (click)="saveCategory()">Enregistrer</button>
</app-modal>
